<h1>Header</h1>
<hr />
<!-- <h2>Testando H2</h2>
<a href="#">Link 1</a>
<app-first-component></app-first-component>
<p>Alguma coisa...</p>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<p>Teste</p>
<app-eventos></app-eventos> -->
<!-- <app-componente-pai></app-componente-pai> -->
<!-- <app-list-component></app-list-component> -->
<!-- <app-pipe-operator></app-pipe-operator> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<router-outlet></router-outlet>
<hr />
<h3>Footer</h3>
